@model MvcStokTakip.Models.Entity.tblmusteri
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">

    <label>Müşteri Ad</label>
    @Html.TextBoxFor(m => m.ad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ad, "", new { @style = "color:red" })
    <br />

    <label>Soyad</label>
    @Html.TextBoxFor(m => m.soyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.soyad, "", new { @style = "color:red" })
    <br />

    <label>Şehir</label>
    @Html.TextBoxFor(m => m.sehir, new { @class = "form-control" })
    <br />

    <label>Bakiye</label>
    @Html.TextBoxFor(m => m.bakiye, new { @class = "form-control" })
    <br />


    <button class="btn btn-primary">Kaydet</button>

</form>

